<div id="loginContainer" class="loginContainer" style="display: none;">
    <div id="loginCancelContainer" class="loginCancelContainer" style="display: none;">
        <button id="loginCancelButton" class="loginCancelButton">
            <div id="loginCancelIcon" class="loginCancelIcon">X</div>
            <span id="loginCancelText" class="loginCancelText">Mégse</span>
        </button>
    </div>
    <div id="loginContent" class="loginContent">
        <form id="loginForm" class="loginForm">
            <img id="loginImageSeal" class="loginImageSeal" src="assets/images/ChronikaLogo.png"/>
            <span id="loginSubheader" class="loginSubheader">MINECRAFT BELÉPÉS</span>
            <div class="loginFieldContainer">
                <svg class="loginSVG profileSVG" viewBox="40 37 65.36 61.43">
                    <g>
                        <path d="M86.77,58.12A13.79,13.79,0,1,0,73,71.91,13.79,13.79,0,0,0,86.77,58.12M97,103.67a3.41,3.41,0,0,0,3.39-3.84,27.57,27.57,0,0,0-54.61,0,3.41,3.41,0,0,0,3.39,3.84Z"/>
                    </g>
                </svg>
                <span class="loginErrorSpan loginEmailError" id="loginEmailError">* Érvénytelen Érték</span>
                <input id="loginUsername" class="loginField loginUsername" type="text" placeholder="EMAIL VAGY FELHASZNÁLÓNÉV"/>
            </div>
            <div class="loginFieldContainer">
                <svg class="loginSVG lockSVG" viewBox="40 32 60.36 70.43">
                    <g>
                        <path d="M86.16,54a16.38,16.38,0,1,0-32,0H44V102.7H96V54Zm-25.9-3.39a9.89,9.89,0,1,1,19.77,0A9.78,9.78,0,0,1,79.39,54H60.89A9.78,9.78,0,0,1,60.26,50.59ZM70,96.2a6.5,6.5,0,0,1-6.5-6.5,6.39,6.39,0,0,1,3.1-5.4V67h6.5V84.11a6.42,6.42,0,0,1,3.39,5.6A6.5,6.5,0,0,1,70,96.2Z"/>
                    </g>
                </svg>
                <span class="loginErrorSpan loginPasswordError" id="loginPasswordError">* Kötelező</span>
                <input id="loginPassword" class="loginField loginPassword" type="password" placeholder="JELSZÓ"/>
            </div>
            <div id="loginOptions" class="loginOptions">
                <span class="loginSpanDim">
                    <a href="https://minecraft.net/password/forgot/">elfelejtett jelszó?</a>
                </span>
                <label id="checkmarkContainer">
                    <input id="loginRememberOption" class="loginRememberOption" type="checkbox" checked>
                    <span id="loginRememberText" class="loginSpanDim loginRememberText">jegyezz meg</span>
                    <span class="loginCheckmark"></span>
                </label>
            </div>
            <button id="loginButton" class="loginButton" disabled>
                <div id="loginButtonContent" class="loginButtonContent">
                    BELÉPÉS
                    <svg id="loginSVG" class="loginButtonSVG" viewBox="0 0 24.87 13.97">
                        <defs>
                            <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                        </defs>
                        <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                    </svg>
                    <div class="circle-loader">
                        <div class="checkmark draw"></div>
                    </div>
                </div>
            </button>
            <div id="loginDisclaimer" class="loginDisclaimer">
                <span class="loginSpanDim loginRegisterSpan" id="loginRegisterSpan">
                    <a href="https://minecraft.net/store/minecraft-java-edition/">Nincs fiókod?</a>
                </span>
                <p class="loginDisclaimerText">A jelszavad közvetlen a Mojang-nak lesz küldve, soha nem tároljuk.</p>
                <p class="loginDisclaimerText">Chronika Launcher nincs kapcsolatban a Mojang AB-vel.</p>
            </div>
        </form>
    </div>
    <script src="./assets/js/scripts/login.js"></script>
</div>